#div_menu{
    width: 20%;
    height: 300px;
    float: center;
    text-align: right;
}

#div_top{
    width: 100%;
    height: 100px;;
    text-align: center;
}

#div_con{
    width: 80%;
    height: 300px;
    float: left;
    text-align: left;
}

.float_center{
    position: relative;
    left: 50%;
}




